<!DOCTYPE html>
<html>
  <head>
    <title><%= collaborator %> & <%= collaboratee %></title>
  </head>
  <body>
    <h1><%= collaborator %> !</h1>
    <p>is collaborating with</p>
    <h1><%= collaboratee %> !</h1>
  </body>
</html>
